[Unit]
Description=Fake SMTP Server
After=syslog.target network.target
Conflicts=postfix.service exim.service sendmail.service

[Service]
ExecStart=/usr/bin/fakesmtpd

[Install]
WantedBy=multi-user.target
