[Unit]
Description=Fake SMTP Server
After=syslog.target network.target
Conflicts=postfix.service exim.service sendmail.service

[Service]
ExecStart=/usr/bin/fakesmtpd --mail-dir=/var/log/fakesmtpd --log-file=/var/log/fakesmtpd/fakesmtpd.log

[Install]
WantedBy=multi-user.target
